.footer {
   background-color: #313030;
   padding-top: 47px;
   padding-bottom: 31px;
}
.footer_copyright {
   font-family: 'Open Sans';
font-size: 16px;
line-height: 26px;
font-weight: 400;
color: #b8b8b8;
}
.footer_social {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.footer_social-icon + .footer_social-icon{
   margin-left: 2em;
}