.touch {
   padding-top: 106px;
   padding-bottom: 110px;
}
.touch_title {
   opacity: 0.8;
font-family: 'Open Sans',sans-serif;
font-size: 42px;
line-height: 1.2;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 0.01em;
color: #000000;
margin-bottom: 51px;
}
.touch_text {
   opacity: 0.7;
font-family: 'Open Sans';
font-size: 16px;
line-height: 28px;
font-weight: 400;
color: #000000;
margin-bottom: 54px;
}
.touch_line {
   width: 132px;
height: 3px;
background-color: #ff2d2d;
margin-bottom: 75px;
}
.touch_form-inputs {
   display: flex;
   /* justify-content: space-between; */
   padding-bottom: 46px;
}
.touch_form-inp {
   width: 50%;
   height: 69px;
   background-color: rgba(0,0,0,.1);
   opacity: 0.7;
   font-family: 'Open Sans';
   font-size: 16px;
   line-height: 28px;
   font-weight: 400;
   color: #000000;
   padding-left: 52px;
   border-radius:5px ;
   -webkit-border-radius:5px ;
   -moz-border-radius:5px ;
   -ms-border-radius:5px ;
   -o-border-radius:5px ;
}
.touch_form-inp + .touch_form-inp{
   margin-left: 4em;
}
.touch_contacts {
   width: 100%;
height: 481px;
background-color: #2d2d2d;
padding-top: 145px;
padding-left: 49px;
}
.touch_contacts-title {
   opacity: 0.8;
font-family: 'Open Sans';
font-size: 18px;
line-height: 34px;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 0.025em;
color: #ffffff;
margin-bottom: 41px;
}
.touch_contacts-adress {
   opacity: 0.8;
font-family: 'Open Sans';
font-size: 16px;
line-height: 28px;
font-weight: 400;
color: #ffffff;
margin-bottom: 27px;
}
.touch_contacts-email {
   opacity: 0.8;
font-family: 'Open Sans';
font-size: 16px;
line-height: 28px;
font-weight: 400;
color: #ffffff;
margin-bottom: 33px;
}
.touch_contacts-phone {
   opacity: 0.8;
font-family: 'Open Sans';
font-size: 16px;
line-height: 28px;
font-weight: 400;
color: #ffffff;
}